body {
  margin: 0;
  font-family: Arial;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14pt;
}

.logo img {
  width: 90px;
  height: 90px;
  padding-left: 140px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070707;
  height: 15vh;
}

#amt {
  color: #fca311;
}

.navmenu {
  margin-right: 146px;
}

.navmenu a {
  margin-left: 47px;
}

#home {
  color: #c8c6c6;
}

#catalog {
  color: #c8c6c6;
}

#testimoni {
  color: #fca311;
}

#register {
  color: #fca311;
  border: 2px solid #fca311;
  padding: 8px 21px;
  transition: 0.4s;
}

#register:hover {
  background-color: #fca311;
  color: white;
  transition: 0.4s;
}
#garis {
  border: 2px solid black;
  width: 270px;
}

.main {
  padding-top: 80pt;
  background-color: #fbfbfb;
}

.desc {
  display: flex;
  justify-content: center;
  color: #434343;
  opacity: 53%;
  font-size: 23pt;
  font-family: "Inter", sans-serif;
  margin-top: 23px;
  margin-bottom: 60px;
}

.judul {
  display: flex;
  justify-content: center;
  color: #070707;
  font-size: 72pt;
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;
}

.testi {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 450px;
  height: 470px;
  box-shadow: 0px 20px 70px 20px #c8c6c6;
  transition: 0.2s;
  z-index: 1;
}

.testi img {
  padding-top: 52px;
  width: 100pt;
}

.stars img {
  padding-top: 35px;
  padding-bottom: 38px;
  width: 174pt;
}

.text {
  text-align: center;
  width: 290px;
  height: 100px;
  font-family: "Inter", sans-serif;
  color: #434343;
  font-style: italic;
  opacity: 75%;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
  padding: 0px 85px;
}

.row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  padding: 0px 85px;
}

.gabung {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  font-style: italic;
  padding-top: 38px;
}

.zoomin:hover {
  transform: scale(1.5);
  transition: 0.2s;
  z-index: 1;
  box-shadow: 0px 5px 50px 5px #c8c6c6;
}

.norah:hover {
  font-size: 0;
}

.norah:hover:before {
  font-size: 14px;
  content: attr(data-hover);
}

.berwarna {
  color: #fca311;
}

.load {
  text-align: center;
  color: #434343;
  opacity: 53%;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 80px;
}

/* .border {
    border-left: 1px solid #c8c6c6;
    border-right: 1px solid #c8c6c6;
    border-bottom: 1px solid #c8c6c6;
  } */

footer {
  background-color: #070707;
  color: white;
}

.logo2 img {
  width: 250px;
  margin-right: 146px;
  margin-top: 70px;
}

.infoandlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 140px;
}

#imgfooter {
  width: 27px;
  margin-right: 20px;
}

.location {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.instagram {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.email {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.touch {
  margin: 47px 0px;
  font-size: 48pt;
  font-weight: bold;
  color: #e5e5e5;
}

#textfooter {
  font-size: 18pt;
  opacity: 74%;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14pt;
  padding-top: 38px;
  padding-bottom: 20px;
}

#bareng {
  opacity: 72%;
}

#sendiri {
  opacity: 100%;
  color: #e5e5e5;
}

/*responsive*/

.dropdown-navbar {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: inline-block;
  display: none;
}

.dropdown-navbar img {
  width: 50px;
}

.dropdown-navbar:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  display: block;
  box-shadow: 0px 4px 8px lightgrey;
  display: none;
  margin-top: 2px;
  margin-left: 150px;
  transition: 0.4s;
}

.dropdown-content p {
  padding: 16px;
  cursor: pointer;
  background-color: white;
  min-width: 160px;
  transition: 0.4s;
}

.dropdown-content p:hover {
  background-color: black;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .navmenu {
    display: none;
  }

  .logo img {
    padding-left: 35px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testi {
    margin-bottom: 100px;
  }

  .albums img {
    width: 500px;
  }
  .logo2 {
    display: none;
  }

  .row2 {
    margin: 0;
  }

  .infoandlogo {
    padding: 0px 35px;
  }

  /*baru*/

  .zoomin:hover {
    transform: scale(1);
    box-shadow: 0px 20px 70px 20px #c8c6c6;
  }

  .norah:hover {
    font-size: 0;
  }

  .norah:hover:before {
    font-size: 14px;
  }

  /**/

  .tulisan {
    width: 500px;
  }
  .albums {
    width: 500px;
  }
  .dropdown-navbar {
    display: inline-block;
  }

  .judul {
    font-size: 65px;
  }

  .desc {
    font-size: 23px;
  }

  .John {
    padding-bottom: 0;
    margin-bottom: 80px;
  }
  p {
    padding: 0;
    margin: 0;
  }
  #register {
    padding: 15px 15px;
  }
  #home {
    color: #070707;
  }
  #catalog {
    color: #070707;
  }
  #home:hover {
    color: white;
  }
  #catalog:hover {
    color: white;
  }
  #amt {
    color: #fca311;
  }
  #amt:hover {
    color: white;
  }
  .dropdown-navbar img {
    margin-left: 300px;
  }
}
